.details-container {
   margin: auto;
   padding-right: 30px;
   color: white;
   transform: translateX(-50px);
}

.header {
   font-weight: 700;
   font-size: 20px;
   line-height: 28px;
   color: white;
}
p {
   color: #DCDCDC;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   margin-top: 10px;
   margin-bottom: 30px;
}

@media screen and (max-width: 920px) {
   .details-container {
      padding: 100px;
      background-color: #1A1B21;
      color: #F5F5F5;
      transform: none;
   }
   p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
   }
}

@media screen and (max-width: 600px) {
   .details-container {
      padding: 30px;
      background-color: #1A1B21;
      color: #F5F5F5;
   }
}