* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.AppContainer {
  min-height: 100vh;
}

section {
  padding: 0 50px;
}

.cards--list {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px;
  }
  .cards--list {
    justify-content: flex-start;
  }
}